/* Service request */

.service__list {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -80px;
  background: none;
}
.service__item {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px 20px 5px;
  padding: 20px 5px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.service__info-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.service__name {
  color: #505050;
  font-size: 18px;
}
.service__icon {
  margin: 0 10px;
}
.service__rate {
  background: #ff7e00;
  font-size: 14px;
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
}
.service__img {
  max-width: 48px;
}
.service__date {
  font-size: 14px;
  font-style: italic;
  color: #9e9e9e;
}
.service__request {
  font-size: 16px;
  font-weight: bold;
}
.request--new {
  color: #f20000;
}
.request--completed {
  color: #1368b8;
}
.service__price {
  font-size: 14px;
  color: #fff;
  background: #1c6bb8;
  padding: 7px 9px;
  border-radius: 12px;
}
