* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 654px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header img {
  max-width: 170px;
  position: relative;
  left: -30px;
}
.header h1 {
  font-size: 30px;
  color: #4e4e4e;
  margin-bottom: 20px;
}
.header p {
  font-size: 20px;
  color: #c3c3c3;
}
.mb10 {
  margin-bottom: 100px;
}
.mb6 {
  margin-bottom: 60px;
}
.mb4 {
  margin-bottom: 40px;
}
.mb5 {
  margin-bottom: 20px;
  display: block;
}
.forgot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.forgot a {
  color: #bababa;
  font-size: 18px;
  text-decoration: none;
}
.forgot p {
  color: #919191;
  font-size: 20px;
}
.forgot .highlight {
  color: #1b6ab5;
}

.btn {
  font-size: 18px;
  --background: #1b6ab5;
  text-transform: capitalize;
  --padding-top: 15px;
  --padding-bottom: 15px;
  --border-radius: 5px;
}
